<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cosmic Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Cosmic Catalog</h1>
    <hr/>
    <h2>Observations</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Telescope</th>
            <th>Target</th>
            <th>Instrument</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Data will be populated by Spring Boot -->
        </tbody>
    </table>

    <h2>Featured Observations</h2>
    <div class="row">
        <!-- Featured observations will be shown here -->
    </div>
</div>
</body>
</html>
